.dropdown-toggle.postlink.dropdownmenu {
	font-size: 1.1rem;
	font-weight: bold;
}

.dropdown-toggle.postlink.dropdownmenu svg path {
	fill: linear-gradient(to bottom, #b5c997 0%,#fafafa 100%);
}

.dropdown-toggle.postlink.dropdownmenu.dropdownmenu-hover svg path, .forumbg .header a.dropdownmenu:hover svg path {
	fill: white;
}

.dropdown-toggle.postlink.dropdownmenu.dropdownmenu-hover, .forumbg .header a.dropdownmenu:hover {
	background-color: #b5c997;
    background-image: linear-gradient(to bottom, #b5c997 0%,#fafafa 100%);
    color: white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.dropdowmenu-body {
	background-image: black;
	background-color: #b5c997;
	border: 1px solid linear-gradient(to bottom, #b5c997 0%,#fafafa 100%);
	border: 1px solid #fafafa;
}

.dropdownmenu-item a {
	color: white;
	background-color: black;
    font-size: 1rem;
}

.dropdownmenu-item a:hover {
	background-color: #b5c997;
	background-image: linear-gradient(to bottom, #b5c997 0%,#fafafa 100%);
	color: white !important;
}
