.dropdown-toggle.postlink.dropdownmenu {
	color: #105289;
}

.dropdown-toggle.postlink.dropdownmenu svg path {
	fill: #105289;
}

.dropdown-toggle.postlink.dropdownmenu {
	font-size: 1rem;
}

.dropdown-toggle.postlink.dropdownmenu.dropdownmenu-hover, .forumbg .header a.dropdownmenu:hover {
    background-color: #b3cce4;
}

.dropdowmenu-body {
	background-color: #BACCD9;
	border: 1px solid #838b98;
	border-top: none;
}

.dropdownmenu-item a {
	color: white;
	background-color: #d3dbe8;
    font-size: 1rem;
}

.dropdownmenu-item a:hover {
	background-color: #b3cce4;
}
